body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
main {
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
.button {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.button:hover {
  background-color: #45a049;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form {
  margin-bottom: 20px;
}
.last-element-before-footer {
  margin-bottom: 60px;
}
.indicator {
  float: right;
}
.date-header.expanded .indicator {
  transform: rotate(180deg);
}
.date-header {
  background-color: #e6e6e6;
}